  <h1 class="form-header">Modifiez vos informations</h1>
  <form method="post" action="/auth/editmyaccount/{{_id}}" class="signup-form">
    <div>
      <label for="name">Prénom</label> <br>
      <input name="name" id="name" type="text" class="input-text input" placeholder="Mireille" value="{{name}}" required>
    </div>
    <div >
      <label for="email" >Email</label> <br>
      <input name="email" id="email" type="email" class="input-text input" placeholder="yoyo@gmail.com" value="{{email}}" required >
    </div>
        <div >
      <label for="password" >Password</label> <br>
      <input name="password" id="password" type="password" class="input-text input" placeholder="yoyo@gmail.com" value="*******" required >
    </div>
        <div >
      <label for="cp">Code Postal</label> <br>
      <input name="cp" id="cp" type="number" class="input-text input" placeholder="75011"  value="{{cp}}" >
    </div>
    <button class="auth-btn"><i class="far fa-save"></i></button>
  </form>
</section>