  <div class="center-title">
<h1 class="form-header">Modifiez vos informations</h1>
</div>
  
  <form method="post" action="/auth/editmyaccount/{{_id}}" class="signup-form">
    <div>
      <label for="name">Prénom</label> <br>
      <input name="name" id="name" type="text" class="input-text input" placeholder="Mireille" value="{{name}}" >
    </div>
    <div >
      <label  for="email" >Email</label> <br>
      <input name="email" id="email" type="email" class="input-text input" placeholder="yoyo@gmail.com" value="{{email}}" >
    </div>
      <label for="cp">Code Postal</label> <br>
      <input name="cp" id="cp" type="number" class="input-text input" placeholder="75011"  value="{{cp}}" >
    </div>
    <br>
    <button class="auth-btn"><i class="far fa-save"></i></button>
  </form>
</section>