
  <form method="post" action="/auth/signin" >
    <div>
      <label for="email" class="label-ref label">Email</label>
      <input name="email" id="email" type="email" placeholder="albert.biceps@gmail.com" required value="julia@gmail.com">
    </div>
    <div>
      <label for="password">Password</label>
      <input name="password" id="password" type="password"  placeholder="••••••" required value="1234">
    </div>
    <button >Se connecter</button>
  </form>
  <p >Pas encore de compte ? <a href="/auth/signup">Créer un compte</a></p>

