<p>
    Hello {{user.name}}!!!
</p>
<p>Welcome back!</p>

<p>Ci-dessous toutes les recettes que vous avez créées:</p>

 <a href="/recipes/recipe-add"><i
            class="fa fa-plus"
            aria-hidden="true"
          ></i>Add recipe</a>
      </div>

       <a href="/auth/logout">LogOut</a>
      </div>