
  <form method="post" action="/auth/signup">
    <div>
      <label for="name">Prénom</label>
      <input name="name" type="text" class="input-text input" placeholder="Mireille" required>
    </div>
    <div >
      <label for="email" >Email</label>
      <input name="email" id="email" type="email" class="input-text input" placeholder="yoyo@gmail.com" required >
    </div>
    <div >
      <label for="password">Password</label>
      <input name="password" id="password" type="password" placeholder="••••••" required>
    </div>
        <div >
      <label for="cp">Code Postal</label>
      <input name="cp" id="cp" type="number" placeholder="75011" required>
    </div>
    <button>Create Account</button>
  </form>
  <p>Already have an account ? <a href="/auth/login">Sign In</a></p>
</section>


