  <div class="center-title">
<h1 class="form-header">Contact</h1>
</div>

<div class="about">
<p>Toutes l'équipe de Plastic Fighter est disponible pour échanger avec vous !</p>

<p>Nous contacter à l'adresse: contact[at]plasticfighter.com</p>

</div>