
<div id="photos">

    <div class="container">
      <img  src="/images/maison.jpeg" alt="maison">
      <div class="text-bloc">
      <p>Maison</p>  
      </div>

    <div class="container">
      <img  src="/images/couple.jpeg" alt="visage">
      <div class="text-bloc">
      <p>Visage</p> 
      </div> 

      <div class="container">
        <img src="/images/visage.jpeg" alt="hygiene">
        <div class="text-bloc">
        <p>Hygiène</p>   
        </div>

    <div class="container">
        <img  src="/images/cheveux.jpeg" alt="cheveux">
        <div class="text-bloc">
        <p>Cheveux</p>   
        </div>
  
     </div> 
