<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>-->



<h1>je suis la home</h1>
    <section class="homephoto">
      {{!-- <div class="swiper-slide" style="position: relative"> --}}
        <div>
        <a href="/views/recipes/allrecipes.hbs">
          <img class="photos" src="/images/cheveux.jpeg" alt="photo catégorie cheveux">
          <p class="photo-title">CHEVEUX</p>
        </a>
        </div>
          
      <div>
      <img class="photos" src="/images/couple.jpeg" alt="photo couple">
      <img class="photos" src="/images/maison.jpeg" alt="photo catégorie maison">
      <img class="photos" src="/images/visage.jpeg" alt="photo catégorie visage">
      </div>
    </section>