
<div id="photos">

    <div class="container">
      <a href="/recipes/allrecipes/maison">
      <img  src="/images/maison.jpeg" alt="maison">
      <div class="text-bloc">
      <p class="titrehome">Maison</p>
      </a>
      </div>
      </div>

    <div class="container">
      <img  src="/images/couple.jpeg" alt="visage">
      <div class="text-bloc">
      <p class="titrehome">Visage</p> 
      </div> 
      </div>

      <div class="container">
        <img src="/images/visage.jpeg" alt="hygiene">
        <div class="text-bloc">
        <p class="titrehome">Hygiène</p> 
        </div>  
        </div>

    <div class="container">
        <img  src="/images/cheveux.jpeg" alt="cheveux">
        <div class="text-bloc">
        <p class="titrehome">Cheveux</p>   
        </div>
  
     </div> 
</div> 
