<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <script
      src="https://kit.fontawesome.com/14a96cbf57.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <header id="header-main">
      <span id="logo-main">
        <a href="/">
          <img src="/images/logo.png" alt="logo" class="logo" />
        </a>
      </span>
      <p class="logo-text">PLASTIC FIGHTER</p>

      <div>
        <a href="/auth/signup" class="link"><i class="fas fa-user-alt"></i></a>
         </div>

         <div>
        <a href="./recipes/recipe-add"><i
            class="fa fa-plus"
            aria-hidden="true"
          ></i>Add recipe</a>
      </div>

      <nav>
        <a href="/recipes/allrecipes/maison" class="link">Maison</a>
        <a href="/recipes/allrecipes/visage" class="link">Visage</a>
        <a href="/recipes/allrecipes/hygiene" class="link">Hygiène</a>
        <a href="/recipes/allrecipes/cheveux" class="link">Cheveux</a>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>