<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script
      src="https://kit.fontawesome.com/14a96cbf57.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <header id="header-main">

    <span>
      <div class="uppernav">
        <a href="/">
          <img src="/images/logo-typo.png" alt="logo" class="logo" />
          <a href="/recipes/recipe-add" class="user-icon"><i
              class="fa fa-plus plus-btn"
              aria-hidden="true"
            ></i></a>
        </a>
        {{#unless currentUser}}
          <a href="/auth/login" class="user-icon"><i
              class="fas fa-user-alt"
            ></i></a>
        {{else}}
          <a href="/auth/myaccount" class="user-icon"><i
              class="fas fa-user-check"
            ></i></a>

          <a href="/auth/logout" class="user-icon"><i
              class="fas fa-sign-out-alt"
            ></i></a>
        {{/unless}}
      </div>
    </span>

    <nav>
      <div class="lowernav">
        <a href="/recipes/allrecipes/maison" class="link">Maison</a>
        <a href="/recipes/allrecipes/visage" class="link">Visage</a>
        <a href="/recipes/allrecipes/hygiene" class="link">Hygiène</a>
        <a href="/recipes/allrecipes/cheveux" class="link">Cheveux</a>
      </div>
    </nav>

  </header>
  <body>
    {{{body}}}
  </body>
  <footer>
    <p>Copyright © 2021 PlasticFighter Ltd.<a href="/about"> Contact</a></p>
  </footer>
</html>