<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
    <nav>
      <a href="/" class="link">home</a> |
      <a href="/recipes/recipe-add" class="link">Add recipe</a> |
       <a href="/auth/signup" class="link">SignUpandIn</i></a>
       <a href="/auth/signout" class="link">SignOut</i></a>
       <a href="/recipes/allrecipes" class="link">Toutes les recettes</i></a>
    </nav>
  </header>
    {{{body}}}
  </body>
</html>
