

.editprofil {
  background-color: white;
  color: black;
}

.account-btn {
  padding: 1%;
  border: none;
  font-size: 1em;
  text-decoration: none;
}

.account-btn:hover {
  padding: 1%;
  border: none;
  font-size: 1em;
  text-decoration: none;
  background-color: #07998f;
  color: white;
}


.imgprofil{
  height: 100px;
}

.sub-title{
  font-size: 2.3em;
  font-style: italic;
  background-color: rgba(250, 232, 171, 0.4);
  transform: skew(9deg,0deg);
  width: 300px;
  height: 40px;
  text-align: center;
  margin: 0 20px;
}


.container-mes-recettes{
  display: flex;
  flex-direction: row;
}

.moncompte{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
  margin: 2% 0;
}

.countaineraccount{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  color: gray;
}