.addrecipe {
  width: 120px
}

.plus-btn{
  font-size: 3em;
}

.editprofil {
  background-color: white;
  color: black;
}

.account-btn {
  padding: 1%;
  border: none;
  font-size: 1em;
  text-decoration: none;
}

.account-btn:hover {
  padding: 1%;
  border: none;
  font-size: 1em;
  text-decoration: none;
  background-color: #07998f;
  color: white;
}


.imgprofil{
  height: 100px;
}

.sub-title{
  font-size: 2.3em;
  font-style: italic;
  background-color: rgba(204,255,217,.4);
  transform: skew(9deg,0deg);
  width: 300px;
  height: 40px;
  text-align: center;
  margin: 0 20px;
}


.container-mes-recettes{
  display: flex;
  flex-direction: row;
}

.moncompte{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
  margin-bottom: 2%
}