@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");

* {
  font-family: KoHo;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  width: 100vw;
}

/* html {
  font-size: 10px;
  width: 800px;
} */


/*NAV BAR ELEMENTS*/
.uppernav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 2px; */
}

.logo-text {
  position: absolute;
  font-family: KoHo;
  font-size: 15em;
  font-weight: bold;
  color: #07998f;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-left: 250px;
}

.logo {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px 20px;
}

.user-icon {
  position: relative;
  font-size: 30px;
  color: #07998f;
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

.user-icon:hover{
  color: rgb(255, 146, 30);
}

.lowernav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  padding-top: 2px;
  background-color: rgb(255, 146, 30);
  height: 35px;
  width: 100vw;
}

.link {
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 60px;
}


#header-main {
  padding: 5px 20px;
  background:rgba(252, 252, 250, 0.831);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#header-main .link {
  color: #fdffff;
}

#header-main .link:hover {
  color: #07998f;
}

#content-main {
  padding: 50px;
}

/*IMAGES HOMEPAGE*/

#photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3px;
}

.text-bloc {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding-top: 20px;
  width: 300px;
  height: 25px;
  bottom: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 146, 30); 
}



#photos .text-bloc{
  color:rgb(255, 146, 30);
}

#photos .text-bloc:hover{
  color: #07998f;
}

@media screen and (max-width: 1024px) {
  
}
