@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
* {
    font-family: KoHo;
    font-size: 1em;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #07998F;
}

.logo-text {
  font-family: KoHo;
  color: #07998f;
  font-size: 30px;
}

.logo {
  width: 100px;
}

#header-main {
  padding: 5px 20px;
  background: #ffb133;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
}

#header-main .link {
  color: #07998f;
}

#header-main .link:hover {
  color: rgb(255, 146, 30);
}

#content-main {
  padding: 5px 10px;
}
