
.form-header {
      text-align: center;
      font-size: 2rem;
      font-style: italic;
      color: #07998F;
      background-color: rgba(250, 232, 171, 0.4);
      transform: skew(9deg,0deg);
      width: 400px;
  height: 40px;
  text-align: center;
}

.label-recipe{
   color: #07998F;
   font-size: 1.3em;
}

.center-title{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
}

.recipe-form {
 text-align: center;
}

.text-input {
 padding: 0.5%;
 width: 50vw;
 margin-bottom: 1em;
 margin-top: 1em;
}

.big {
    padding: 0.5%;
    border: 5% 1%;
    width: 50vw;
}
.menu {
    padding: 0.5%;
    width: 50vw;
}
.form-button {
    margin: 2%;
    padding: 1%;
    border: none;
    background-color: white;
    color: #07998F;
    font-size: 4em;
 }
 .form-button:hover {
    color: #FFB133;
    cursor: pointer;
 }
 input[type="file"] {
    display: none;
 }

 .fa-camera-retro {
    padding: 0.5%;
    font-size: 2rem;
     color: darkslategrey;
     border: gray solid 0.5px;
     width: 49vw;
     margin-top: 1%;
 }
 .fa-camera-retro:hover{
    cursor: pointer;
 }
