<h2>List des recettes/tips</h2>

<ul>
  {{#each recipe}}
    <p>Title: {{this.title}}</p>
 <a href="/recipes/recipe-detail/{{this._id}}">Voir la recette</a>
 <a href="/recipes/recipe-detail/delete/{{this._id}}">Supprimer</a>
    <hr />
  {{/each}}
</ul>