<h1>Add a recipe</h1>

<form action="/recipes/recipe-add" method="post">
  <h3>Ajouter votre recette ou votre tip ci-dessous:</h3>
  <div>
    <label for="title">Titre</label>
    <input
      id="title"
      name="title"
      type="text"
      placeholder="Shampoing solide"
      value="Shampoo"
    />
  </div>
  <div>
    <label for="type">Type</label>
    <select id="type" name="type">
      <option value="-1" disabled selected>Choisir le type</option>
      <option value="recette">Recette</option>
      <option value="tip">Tip</option>
    </select>
  </div>
  <div>
    <label for="category">Catégorie</label>
    <select id="category" name="category">
      <option value="-1" disabled selected>Choisir la catégorie</option>
      <option value="maison">Maison</option>
      <option value="cheveux">Cheveux</option>
      <option value="visage">Visage</option>
      <option value="hygiene">Hygiène</option>
    </select>
  </div>
  <div>
    <label for="ingredients">Ingrédients</label>
    <input
      id="ingredients"
      name="ingredients"
      type="textarea"
      placeholder="Huile de ricin"
      value="Huile de coco"
    />
  </div>
    <div>
    <label for="description">Description/ Etapes</label>
    <input
      id="description"
      name="description"
      type="textarea"
      placeholder="Mettre dans un saladier"
      value="En premier ..."
    />
  </div>
  <div>
    <label for="duration">Duration en minutes</label>
    <input
      id="duration"
      name="duration"
      type="number"
      placeholder="ex: 20"
      value="20"
    />
  </div>
   <div>
    <label for="level">Niveau de difficulté</label>
    <select id="level" name="level">
      <option value="-1" disabled selected>Choisir la catégorie</option>
      <option value="facile">Facile</option>
      <option value="modéré">Modéré</option>
      <option value="difficile">Difficile</option>
    </select>
  </div>
     <div>
    <label for="price">Coût</label>
    <select id="price" name="price">
      <option value="-1" disabled selected>Quel est le coût</option>
      <option value="bon marché">Bon marché</option>
      <option value="modéré">Modéré</option>
      <option value="coûteux">Coûteux</option>
    </select>
  </div>
  <button>Ajouter</button>
</form>